.App {
  text-align: center;
}

.App-logo {
  height: 300px;
  width: 300px;
  pointer-events: none;
  margin-bottom: 50px;
}

.App-header {
  font-weight: 600;
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*color: white;*/
}

.App-link {
  color: #61dafb;
}

.Channel-input {
  margin-right: 20px !important;
  font-size: 28px !important;
}

.Input-section {
  display: flex;
  width: 560px;
  margin-bottom: 20px;
}

.Submit-button {
  height: inherit !important;
}
